@model samis.Models.ActivityInformation

@{
    ViewData["Title"] = "Details";
    Project project = ViewBag.Project;
    List<BudgetProject> budgetProjects = ViewBag.BudgetProjects;
    List<String> totalAmout = ViewBag.TotalAmount;
}

<div class="flex-container">
    <div style="flex-grow: 1">
        <h3>
            <b>
                @project.activityInformation.activityName
                <button style="margin-left: 16px" type="button" class="btn btn-success">EXPORT</button>
            </b>
        </h3>
    </div>
    <div style="flex-grow: 1">
        <h6 style="text-align: right">@project.activityInformation.referenceNumber</h6>
    </div>
</div>

<table style="width: 100%; margin-top: 16px">
    <tr>
        <td><b>Project Type: </b></td>
        <td>@project.activityInformation.activityType.activityTypeName</td>
        <td><b>Semester: </b></td>
        <td>@project.activityInformation.semester / @project.activityInformation.year</td>
    </tr>
    <tr>
        <td><b>Project Level: </b></td>
        <td>@project.activityInformation.projectLevel.name</td>
        <td><b>Started Date: </b></td>
        <td>@project.activityInformation.startDate?.ToString("dd MMMM yyyy")</td>
    </tr>
    <tr>
        <td><b>Venue: </b></td>
        <td>@project.activityInformation.venue</td>
        <td><b>Ended Date: </b></td>
        <td>@project.activityInformation.endDate?.ToString("dd MMMM yyyy")</td>
    </tr>
    <tr>
        <td><b>Advisor: </b></td>
        <td>@project.activityInformation.advisor.name</td>
        <td><b>Participants: </b></td>
        <td>@project.activityInformation.participant Persons</td>
    </tr>
</table>

<table style="width: 100%; margin-top: 32px">
    <tr>
        <th style="width: 60%">
            <h4><b>REVENUES</b></h4>
        </th>
        <th style="text-align: center">PROPOSED</th>
        <th style="text-align: center">APPROVED</th>
    </tr>
    @foreach (var budgetProject in budgetProjects)
    {
        if (budgetProject.budgetTypeId == 1)
        {
            <tr>
                <td>@budgetProject.budgetName</td>
                <td style="text-align: center">@budgetProject.proposed</td>
                <td style="text-align: center">@budgetProject.approved</td>
            </tr>
        }
    }
    <tr>
        <td></td>
        <td style="text-align: center">
            <hr />
        </td>
        <td style="text-align: center">
            <hr />
        </td>
    </tr>
    <tr>
        <td style="text-align: right">TOTAL:</td>
        <td style="text-align: center">@totalAmout[0]</td>
        <td style="text-align: center">@totalAmout[2]</td>
    </tr>
</table>

<table style="width: 100%; margin-top: 32px">
    <tr>
        <th style="width: 60%">
            <h4><b>EXPENSES</b></h4>
        </th>
        <th style="text-align: center;">PROPOSED</th>
        <th style="text-align: center">APPROVED</th>
    </tr>
    @foreach (var budgetProject in budgetProjects)
    {
        if (budgetProject.budgetTypeId == 2)
        {
            <tr>
                <td>@budgetProject.budgetName</td>
                <td style="text-align: center">@budgetProject.proposed</td>
                <td style="text-align: center">@budgetProject.approved</td>
            </tr>
        }
    }
    <tr>
        <td></td>
        <td style="text-align: center">
            <hr />
        </td>
        <td style="text-align: center">
            <hr />
        </td>
    </tr>
    <tr>
        <td style="text-align: right">TOTAL:</td>
        <td style="text-align: center">@totalAmout[1]</td>
        <td style="text-align: center">@totalAmout[3]</td>
    </tr>
</table>