@{
    ViewData["Title"] = "Edit Project";
    Project project = ViewBag.Project;
    List<BudgetProject>
    budgetProjects = ViewBag.BudgetProjects;
    List<String>
        totalAmout = ViewBag.TotalAmount;
    var i = 1;
    var j = 1;
}

<div class="flex-container">
    <div style="flex-grow: 1">
        <h4><b>CREATE PROJECT</b></h4>
    </div>
    <div style="flex-grow: 1">
        <h6 style="text-align: right">
            VINCENT MARY SCHOOL OF SCIENCE AND TECHNOLOGY <img src="~/img/ic_vms.png"
                                                               width="30" height="30" />
        </h6>
    </div>
</div>

@model samis.Models.Project
<form asp-action="Edit" onsubmit="setAllBudgetInList()">
    <div class="flex-container" style="margin-top: 16px">
        <div style="flex-grow: 1">
            <h3>
                <b>
                    <input id="activityName" asp-for="activityInformation.activityName" class="form-control" type="text"
                           style="width: 80%; height: 50%" placeholder="PROJECT NAME" />
                </b>
                <span asp-validation-for="activityInformation.activityName" class="text-danger"></span>
            </h3>
        </div>
        <div style="flex-grow: 1">
            <h6 style="text-align: right">S2019090096</h6>
        </div>
    </div>
    <table style="width: 100%; margin-top: 16px">
        <tr>
            <td><b>Project Type: </b></td>
            <td>
                <select asp-for="activityInformation.activityTypeId" class="form-control"
                        asp-items="ViewBag.activityTypeName" style="width: 80%;"></select>
                <span asp-validation-for="activityInformation.activityTypeId" class="text-danger"></span>
            </td>
            <td><b>Semester: </b></td>
            <td colspan="2">
                <select asp-for="activityInformation.referenceNumber" id="semester" class="form-control">
                    <option selected>2/2018</option>
                    <option>3/2018</option>
                    <option>1/2019</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Project Level: </b></td>
            <td>
                <select asp-for="activityInformation.projectLevelId" class="form-control" style="width: 80%;"
                        asp-items="ViewBag.projectLevelName"></select>
                <span asp-validation-for="activityInformation.projectLevelId" class="text-danger"></span>
            </td>
            <td><b>Started Date: </b></td>
            <td colspan="2">
                <input asp-for="activityInformation.startDate" class="form-control" type="date" />
                <span asp-validation-for="activityInformation.startDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><b>Venue: </b></td>
            <td>
                <input asp-for="activityInformation.venue" class="form-control" type="text" style="width: 80%" />
            </td>
            <td><b>Ended Date: </b></td>
            <td colspan="2">
                <input asp-for="activityInformation.endDate" class="form-control" type="date" />
                <span asp-validation-for="activityInformation.endDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><b>Advisor: </b></td>
            <td>A. Sakhon Ounla</td>
            <td><b>Participants: </b></td>
            <td>
                <input asp-for="activityInformation.participant" class="form-control" type="text" style="width: 90%" />
                <span asp-validation-for="activityInformation.participant" class="text-danger"></span>
            </td>
            <td style="width: 16px">Persons</td>
        </tr>
    </table>

    <table id="revenueTable" style="width: 100%; margin-top: 32px">
        <tr>
            <th style="width: 60%">
                <h4><b>REVENUES</b></h4>
            </th>
            <th style="text-align: center">ESTIMATED</th>
        </tr>
        @foreach (BudgetProject budgetProject in budgetProjects)
        {
            if (budgetProject.budgetTypeId == 1)
            {
                var id = "tridRevenue" + i;
                <tr id="@id">
                    <td>
                        <div class="flex-container">
                            <div style="flex-grow: 1">
                                <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"
                                     onclick="deleteRowRevenue(this); calculateRevenue();" />
                            </div>
                            <div style=" flex-grow: 100">
                                <select class="form-control" style="width: 80%;">
                                    @foreach (var revenue in ViewBag.revenues)
                                    {
                                        if (revenue.name == budgetProject.budgetName)
                                        {
                                            <option value="@revenue.budgetDescriptionId" selected>@revenue.name</option>
                                        }
                                        else
                                        {
                                            <option value="@revenue.budgetDescriptionId">@revenue.name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input onkeyup="calculateRevenue()" class="form-control" type="number" min="1" max="9999999" id="demo" value="@Double.Parse(budgetProject.proposed.Replace("฿", "" ))" />
                    </td>
                </tr>
                i++;
            }
        }
        <tr>
            <td>
                <button style="margin-top: 16px" type="button" class="btn btn-secondary"
                        onclick="insertRowRevenue()">
                    Add
                    Revenue
                </button>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center">
                <hr />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">TOTAL:</td>
            <td style="text-align: center"><text id="totalRevenue">@totalAmout[0]</text></td>
        </tr>
    </table>

    <table id="expenseTable" style="width: 100%; margin-top: 32px">
        <tr>
            <th style="width: 60%">
                <h4><b>EXPENSES</b></h4>
            </th>
            <th style="text-align: center">ESTIMATED</th>
        </tr>
        @foreach (BudgetProject budgetProject in budgetProjects)
        {
            if (budgetProject.budgetTypeId == 2)
            {
                var id = "tridExpense" + j;
                <tr id="@id">
                    <td>
                        <div class="flex-container">
                            <div style="flex-grow: 1">
                                <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"
                                     onclick="deleteRowExpense(this); calculateExpense();" />
                            </div>
                            <div style=" flex-grow: 100">
                                <select class="form-control" style="width: 80%;">
                                    @foreach (var expense in ViewBag.expenses)
                                    {
                                        if (expense.name == budgetProject.budgetName)
                                        {
                                            <option value="@expense.budgetDescriptionId" selected>@expense.name</option>
                                        }
                                        else
                                        {
                                            <option value="@expense.budgetDescriptionId">@expense.name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input onkeyup="calculateExpense()" class="form-control" type="number" min="1" max="9999999" id="demo" value="@Double.Parse(budgetProject.proposed.Replace("฿", "" ))" />
                    </td>
                </tr>
                j++;
            }
        }
        <tr>
            <td>
                <button style="margin-top: 16px" type="button" class="btn btn-secondary"
                        onclick="insertRowExpense()">
                    Add
                    Expense
                </button>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center">
                <hr />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">TOTAL:</td>
            <td style="text-align: center"><text id="totalExpense">@totalAmout[1]</text></td>
        </tr>
    </table>

    <input asp-for="budgets" type="hidden" id="budgets" />
    <input class="btn btn-warning" type="submit" style="width: 100%; color: white; margin-top: 32px"
           value="EDIT PROJECT" />
</form>

@section Scripts {
    <script>
        function calculateRevenue() {
            var revenueAmount = document.getElementById('revenueTable').getElementsByTagName('input');
            var total = 0;

            for (var i = 0; i < revenueAmount.length; i++) {
                var ra = revenueAmount[i].value;
                var raint = parseFloat(ra);
                total += raint || 0;
            }

            document.getElementById('totalRevenue').innerHTML = "฿" + total.toLocaleString();
        }

        function calculateExpense() {
            var revenueAmount = document.getElementById('expenseTable').getElementsByTagName('input');
            var total = 0;

            for (var i = 0; i < revenueAmount.length; i++) {
                var ra = revenueAmount[i].value;
                var raint = parseFloat(ra);
                total += raint || 0;
            }

            document.getElementById('totalExpense').innerHTML = "฿" + total.toLocaleString();
        }

        function insertRowRevenue() {
            var xTable = document.getElementById('revenueTable');
            var index = xTable.rows.length - 3;
            var tr = xTable.insertRow(index);
            tr.id = 'tridRevenue' + index;
            tr.innerHTML =
                '<td><div class="flex-container"><div style="flex-grow: 1"><img src="/img/ic_delete_money_item.png" width="32px" height="32px" onclick="deleteRowRevenue(this); calculateRevenue();" /></div><div style=" flex-grow: 100"><select class="form-control" style="width: 80%;">@foreach (var revenue in ViewBag.revenues)
            {<option value="@revenue.budgetDescriptionId">@revenue.name</option>}</select></div></div></td><td><input onkeyup="calculateRevenue()" class="form-control" type="number" min="1" max="9999999" /></td>'
        }

        function deleteRowRevenue(row) {
            var trid = $(row).closest('tr').attr('id');
            var row = document.getElementById(trid);
            row.parentElement.removeChild(row);
        }

        function insertRowExpense() {
            var xTable = document.getElementById('expenseTable');
            var index = xTable.rows.length - 3;
            var tr = xTable.insertRow(index);
            tr.id = 'tridExpense' + index;
            tr.innerHTML =
                '<td><div class="flex-container"><div style="flex-grow: 1"><img src="/img/ic_delete_money_item.png" width="32px" height="32px" onclick="deleteRowExpense(this); calculateExpense();" /></div><div style=" flex-grow: 100"><select class="form-control" style="width: 80%;">@foreach (var expense in ViewBag.expenses)
            {<option value="@expense.budgetDescriptionId">@expense.name</option>}</select></div></div></td><td><input onkeyup="calculateExpense()" class="form-control" type="number" min="1" max="9999999" /></td>'
        }

        function deleteRowExpense(row) {
            var trid = $(row).closest('tr').attr('id');
            var row = document.getElementById(trid);
            row.parentElement.removeChild(row);
        }

        function setAllBudgetInList() {
            var revenueAmount = document.getElementById('revenueTable').getElementsByTagName('input');
            var expenseAmount = document.getElementById('expenseTable').getElementsByTagName('input');
            var revenueTitle = document.getElementById('revenueTable').getElementsByTagName('select');
            var expenseTitle = document.getElementById('expenseTable').getElementsByTagName('select');
            var ras = [];
            var eas = [];
            var rts = [];
            var ets = [];
            for (var i = 0; i < revenueAmount.length; i++) {
                var ra = revenueAmount[i].value;
                ras.push(ra);
            }
            for (var j = 0; j < expenseAmount.length; j++) {
                var ea = expenseAmount[j].value;
                eas.push(ea);
            }
            for (var k = 0; k < revenueTitle.length; k++) {
                var rt = revenueTitle[k].value;
                rts.push(rt);
            }
            for (var l = 0; l < expenseTitle.length; l++) {
                var et = expenseTitle[l].value;
                ets.push(et);
            }

            var budgets = [];

            for (var m = 0; m < ras.length; m++) {
                var revenue = {
                    activityId: @project.activityInformation.activityId,
                    budgetStatusId: 1,
                    amount: ras[m],
                    budgetDescriptionId: rts[m]
                }
                budgets.push(revenue);
            }

            for (var n = 0; n < eas.length; n++) {
                var expense = {
                    activityId: @project.activityInformation.activityId,
                    budgetStatusId: 1,
                    amount: eas[n],
                    budgetDescriptionId: ets[n]
                }
                budgets.push(expense);
            }

            document.getElementById('budgets').value = JSON.stringify(budgets);

            var http = new XMLHttpRequest();

            var url = "../DeleteBudgets?id=" + @project.activityInformation.activityId;
            http.open("GET", url);
            http.send();
        }

        // function keydownFunction(row) {
        //     $(row).style.backgroundColor = "red";
        // }

        // function keyupFunction(row) {
        //     var trid = $(row).closest('input').attr('id');
        //     alert(trid)
        // $(row).style.backgroundColor = "green";
        // }

        // function getInputTypeValue(input) {
        //     var inputValue = $(input).closest('input').attr('value');
        //     alert(inputValue)
        // }
    </script>
}