@model IEnumerable<samis.Models.AdvisorPosition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.advisorPositionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.advisorPositionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.advisorPositionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.advisorPositionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.advisorPositionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
